<h2>Registro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="errorHandler alert alert-danger no-display">
		<i class="icon-remove-sign"></i> You have some form errors. Please check below.
</div>
<fieldset>
	<div class="form-group">
  <span class="input-icon">
  <%= f.email_field :email, class: "form-control", placeholder: "Correo institucional",autofocus: true %>
  <i class="fa fa-user"></i> </span>
	</div>
<div class="form-group form-actions">
  		<span class="input-icon">
  		<div><%= f.label :password, class: "form-control" %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>
  		</a> </span>
  	<div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
    </div>
    <div><%= f.submit "Registrarse" %></div>
</fieldset>
<% end %>
<%= render "devise/shared/links" %>
