<%= form_for @horario, url: schedules_path, html:{class:'form-horizontal',:method =>:post} do |f| %>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		&times;
	</button>
	<h3>Nuevo Horario</h3>
</div>
<div class="modal-body">

	<div class="form-group">
		<div class="col-sm-2">
			<%= f.label :dia_semana,class:"control-label"%>
		</div>
		<div class="col-sm-9">
			<%= f.select(:dia_semana,@dias.map{|val| [val.capitalize,val.capitalize]},{},{class:"form-control"})%>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2">
			<%= f.label :hora_inicio,class:"control-label"%>
		</div>
		<div class="col-sm-9">
			<div class="input-group input-append bootstrap-timepicker" id="horaInicio">
				<%= f.time_field(:hora_inicio ,class:"form-control time-picker")%>
				<span class="input-group-addon"> <i class="fa fa-clock-o"></i> </span>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="actions">
		<div class="actions">
			<button class="btn btn-green" type="submit">
				Guardar
			</button>
		</div>
	</div>
</div>
<% end %>

