<%= form_tag(@materia.id.to_s+"/guardar_resultados",:method=>"get") do%>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		&times;
	</button>
	<h3>Evaluación de materia: <%=@materia.nombre%></h3>
</div>
<div class="modal-body">
	<div class="well well-sm">
	<h4>Considera ud que los temas tratados en clase son dificiles de asimilar o entender?</h4>
	<%(1..5).each do |i|%>
		<%= label_tag(:dificultad,class: 'radio-inline') do%>
				<%= radio_button_tag(:dificultad,i.to_s ,nil, :class => "grey") %>
		<%=i.to_s%>
		<%end%>
	<%end%>
	</div>
	
	<div class="well well-sm">
	<h4>Considera ud que las horas sugeridas por el programa son sufucientes para asimilar adecuadamente sus contenidos?</h4>
	<%(1..5).each do |i|%>
		<%= label_tag(:intensidad,class: 'radio-inline') do%>
				<%= radio_button_tag(:intensidad,i.to_s ,nil, :class => "grey") %>
		<%=i.to_s%>
		<%end%>
	<%end%>
	</div>
	
	<div class="well well-sm">
	<h4>Los temas tratados en clase le han sido útiles por fuera de la misma?</h4>
	<%(1..5).each do |i|%>
		<%= label_tag(:utilidad,class: 'radio-inline') do%>
				<%= radio_button_tag(:utilidad,i.to_s ,nil, :class => "grey") %>
		<%=i.to_s%>
		<%end%>
	<%end%>
	</div>
</div>

<div class="modal-footer">
	<div class="actions">
		<button class="btn btn-green" type="submit">
			Enviar evaluación
		</button>
	</div>
</div>
</div>
<% end %>