<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-reorder"></i>
				Mis materias
				<div class="panel-tools">
					<a class="btn btn-xs btn-link"><i class="fa fa-plus"></i></a>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="tabbable">
							<ul id="tabs" class="nav nav-tabs tab-padding tab-space-3 tab-blue">
								<li class="active">
									<a href="#pendientes" data-toggle="tab"> Vistas </a>
								</li>
								
							</ul>
							<div class="tab-content">
								<div class="tab-pane in active" id="pendientes">
									<%@vistas.each do |v|%>
									<h4><%= v.nombre%></h4>
									<% @creditos_vistos += v.creditos%>
									<%end%>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Progreso</h3>
						<div class="progress">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= (@creditos_vistos*100)/Course.sum(:creditos)%>" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@creditos_vistos*100)/Course.sum(:creditos)%>%">
								<%= @creditos_vistos%>/<%= Course.sum(:creditos)%>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
